/* START GENERIC COMPONENTS  */
:root{
    --main-color-1:#051525;
    --main-color2:#d2a84c;
    --main-color3:#fff;
}
img{max-width: 100%;}
body{
    font-family:DIN Next LT Arabic , 29LT Bukra;
    height: 3000px;
} 
a{
    text-decoration: none;
}
.btn-check:focus+.btn, .btn:focus {box-shadow: none;}
.navbar-toggler:focus{box-shadow: none;}
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.button-white {
    color: var(--main-color3);
    border: 1px solid var(--main-color3);
    padding: 12px ;
    border-radius: 15px;
    font-size: 16px;
    width: 180px;
  }
.button-white:hover{
    color: var(--main-color3);
    background-color: var(--main-color2);
    border-color: var(--main-color2);
    transition: .5sec;
}
.button-gold {
    color: var(--main-color2);
    border: 1px solid var(--main-color2);
    padding: 12px ;
    border-radius: 15px;
    font-size: 16px;
    width: 180px;

  }
.button-gold:hover{
    color: var(--main-color3);
    background-color: var(--main-color2);
    transition: .5sec;
}
/* END GENERIC COMPONENTS  */

/* START NAV BAR  */
.navbar {
    background-color:var(--main-color-1) ;
}
.navbar .navbar-brand img {
    width: 85px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: var(--main-color3);
    position: relative;
}
.navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--main-color2);
    
}
.navbar .navbar-nav .nav-item {margin-right: 25px;font-size: 18px;}
.navbar .navbar__contact-btn {
    border-radius: 30px;
    padding: 12px 50px;
    margin-right: 30px;
}
.navbar .navbar__contact-btn:hover{
    background-color: var(--main-color2);
    transition: .5s ;
}
/* END NAV BAR  */
/* START HEADER  */
header {
    background-image: url(../../images/blue-mosque-istanbul-turkey@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: rgb(0 0 0 / 62%);;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-bottom: 100px;
    
    
}
header h4 {
    color: var(--main-color3);
    font-weight: bold;
    padding: 50px 0;
}
header p {
    color: var(--main-color3);
    font-weight: bold;
    margin: 50px 0 ;
    z-index: 2;
}
header .header__buttons {
    margin: 30px 0 ;
    text-align: center;
}
header .header__buttons .button-white {
    margin-bottom: 30px ;
}

/* END HEADER  */
/* START ABOUT US  */
.about-us {
margin-bottom: 100px;
}
.my-card {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 15px 0 ;
 }
.my-card__img{
      border-radius: 5px;
      max-width: 100%;
      width: 250px;
      margin: auto;
}

.my-card__body {
      padding: 5px;
      
}
.my-card__title{
        text-align: center;
}

/* END ABOUT US  */
/* START OUR SERVICES  */
.our-services{

}
.our-services .our-services__btn-more {
    color: var(--main-color2);
}
    /* END OUR SERVICES  */

/* START MEDIA QUIERRIES */ 
@media only screen and (min-width:992px) {
    .navbar .navbar-nav .nav-item .nav-link.active::after{
        content: "";
        width:calc( 100% - 1rem);
        height: 2px;
        background-color: var(--main-color2);
        position: absolute;
        bottom: 0;
        right: .5rem;
    }
    .navbar .navbar-nav .nav-item .nav-link:hover{
        color: var(--main-color2);
        transition: .5s;
        
    }
    header .header__buttons {
        margin: 30px 0 ;
        display: flex;
        justify-content: space-evenly;
    }
}    
