.navbar .navbar-toggler .hamburger-box {
  position: relative;
  height: 28px;
  width: 28px;
  cursor: pointer;
  transition:
    300ms -webkit-transform cubic-bezier(.4, 0, .2, 1),
    300ms transform cubic-bezier(.4, 0, .2, 1);
}
.navbar .navbar-toggler .hamburger-box.open {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.navbar .navbar-toggler .hamburger-box .hamburger-inner,
.navbar .navbar-toggler .hamburger-box .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box .hamburger-inner:after {
  position: absolute;
  background-color: #aaa;
  height: 2px;
}
.navbar .navbar-toggler .hamburger-box:hover .hamburger-inner,
.navbar .navbar-toggler .hamburger-box:hover .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box:hover .hamburger-inner:after,
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner,
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:after {
  background-color: var(--main-color2);
}
.navbar .navbar-toggler .hamburger-box .hamburger-inner {
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* transition: background-color cubic-bezier(.4, 0, .2, 1); */
  /* transition-duration: 100ms; */
}
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner {
  background-color: transparent;
  /* transition-delay: 100ms; */
  /* transition-duration: 300ms; */
}
.navbar .navbar-toggler .hamburger-box .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box .hamburger-inner:after {
  content: '';
  left: 0;
  width: 75%;
  transition:
    100ms background-color cubic-bezier(.4, 0, .2, 1),
    150ms width cubic-bezier(.4, 0, .2, 1),
    300ms -webkit-transform cubic-bezier(.4, 0, .2, 1),
    300ms transform cubic-bezier(.4, 0, .2, 1);
}
.navbar .navbar-toggler .hamburger-box .hamburger-inner:before {
  top: -10px;
  transform-origin: right;
}
.navbar .navbar-toggler .hamburger-box .hamburger-inner:after {
  bottom: -10px;
  transform-origin: right;
}
.navbar .navbar-toggler .hamburger-box:hover .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box:hover .hamburger-inner:after,
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:before,
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:after {
  width: 100%;
}
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:before {
  transform: rotate(-45deg) translate(-3px, -3px);
}
.navbar .navbar-toggler .hamburger-box.open .hamburger-inner:after {
  transform: rotate(45deg) translate(-3px, 3px);
}